* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffffff;

    /* @media only screen and (min-width: 1124px) {
        margin: 0px 30px;
    } */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5px;

    @media only screen and (min-width: 1124px) {
        padding: initial;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}